@use '../../../theme/values/colors' as *;

.degree-table {
	border-collapse: collapse;
	margin: 20px 0;
	text-align: center;
	font-size: 13px;
	width: 100%;

	th,
	td {
		border: 1px solid $black_light;
		padding: 10px 14px;
		min-width: 50px;
	}

	th {
		font-weight: 600;
		font-size: 14px;
		letter-spacing: 0.3px;
	}
}

.grado-tonica {
	background: $degree_tonica_bg;
	color: #333;
}

.grado-importante {
	background: $degree_importante_bg;
	color: #333;
}

.grado-evitar {
	background: $degree_evitar_bg;
	color: #333;
}
