@use '../../../theme/values/colors' as *;
@use '../../../theme/values/mediaqueries' as *;

.scale-header {
	margin-bottom: 24px;

	p {
		color: $grey_light;
		font-size: 14px;
		line-height: 1.5;
	}
}

@media (max-width: $medium) {
	.scale-header {
		margin-bottom: 12px;
	}
}
