@use '../../../theme/values' as *;

.triad-selector {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: $gap;
}

.triad-btn {
	background: $black;
	border: 1px solid $black_light;
	border-radius: 8px;
	padding: 8px 14px;
	cursor: pointer;
	transition: all 0.15s;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;

	strong {
		color: $white;
		font-size: 15px;
		font-weight: 600;
	}

	span {
		color: $grey_light;
		font-size: 11px;
	}

	&:hover {
		border-color: $grey_dark;
		background: #2a2a2a;
	}

	&.active {
		border-color: $primary;
		background: rgba($primary, 0.1);

		strong {
			color: $primary_light;
		}
	}
}

@media (max-width: $medium) {
	.triad-btn {
		padding: 6px 8px;
		flex: 1 1 1;
		min-width: 40px;
		// flex-grow: 1;
		&:nth-child(1) {
			width: 100%;
		}

		strong {
			font-size: 13px;
		}

		span {
			font-size: 10px;
		}
	}
}

@media (max-width: $medium) and (orientation: landscape) {
	.triad-btn {
		padding: 4px 6px;
		&:nth-child(1) {
			width: auto;
		}

		strong {
			font-size: 12px;
		}

		span {
			display: none;
		}
	}
}
