@use './sizes' as *;
@use './mediaqueries' as *;

.flex {
	display: flex;
}
.flex-col {
	display: flex;
	flex-direction: column;
}

.jc {
	justify-content: center;
}
.ac {
	align-items: center;
}

.gap {
	gap: $gap;
}

@media (max-width: $medium) {
	.non-mobile {
		display: none;
	}
}
